# Simulation results are not saved to git, but .keep files are included in the
# empty directories to preserve the relevant structure, and gif.sh is not included
out/*
!out/gif.sh

out/txt/*
out/img/*
out/gif/*

# Vim-specific
*.swp
*.swo


# Python-specific
__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile
Pipfile.lock
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
